body {
    padding: 0;
    text-align: center;
  }

  .intro {
    max-width: 550px;
    max-height: 550px;
  }

  .body-background {
    background-color: black;
    background-size: cover;
  }
 
  .game-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .titulo {
    margin-top: 20px;
    background: linear-gradient(to bottom right, brown, black);
    font-size: 75px;
    width: 700px;
    color: wheat;
    text-shadow: 1em 1em 5em black;
    border: 4px black solid;
    box-shadow: 10px 5px 3px black;
    border-radius: 20px;
  }

  #canvas {
    border: 1px solid brown;
    width: 900px;
    height: 600px;
  }
  
  .controls{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: wheat;
  }
  
  #start-button {
    background: linear-gradient(to bottom right, brown, black);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1em 1em 5em black;
    border: 4px black solid;
    box-shadow: 10px 5px 3px black;
    border-radius: 25px;
    font-size:20px;
    width: 200px;
    height: 50px;
    color: wheat;
    background-color: brown;
  }

  .hidden {
    display:none;
  }

  h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color: wheat;
  }

  #endScreen {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:wheat ;
    /* display: flex; */
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .flex{
display: flex;
}

p {
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

  #restart-button {
    background: linear-gradient(to bottom right, brown, black);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1em 1em 5em black;
    border: 4px black solid;
    box-shadow: 10px 5px 3px black;
    border-radius: 25px;
    font-size:20px;
    width: 200px;
    height: 50px;
    color: wheat;
    background-color: brown;
  }
 